* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #7e297b;
}

header {
    background: #a120a3;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background: #f2e3ef;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #7e297b;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
}

#about, #skills, #projects, #contact {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#skills ul {
    list-style-type: none;
}

#skills ul li {
    background: #d290e1;
    color: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 3px;
}

.project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
